.Details {
  width: 18rem;
  padding: 24px;
  margin-left: 30px;
  overflow: hidden;

  color: #313d51;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

.Details-title {
  margin-top: 0;
  margin-bottom: 0.75rem;

  font-weight: 400;
  font-size: 1.25rem;
}
