.DetailsImg-container {
  height: 300px;
  margin: -24px -24px 30px -24px;

  background-color: #858d94;
}

.DetailsImg-content {
  position: relative;
  top: 50%;

  display: block;
  width: 100%;
  max-height: 300px;

  text-align: center;

  color: #ffffff;

  transform: translateY(-50%);
}
